body{
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

h1{
 text-align: center;
 color:black;
}

/* Containers */
#heading{  
 margin-top: 10px;
 margin-right: 30px;
}

/* Nav-Bar */
a , a:visited, .nav-link{
 font-family: "Faro";
 color:black;
 font-size: 1.1rem;
 text-decoration: none;
} 

a:hover{
 color: black;
 text-decoration: underline;
}

.nav-link:hover{
 text-decoration: underline;
}


.navbar-brand{
 font-size: 1.5rem;
 border-right: 1px solid darkgray;
 padding-right: 20px;
 }

 #heading .container-fluid{
   margin-left: 20px;
 }

 .flag{
   width: 20px;
   margin-bottom: 10px;
   margin-left: 10px;
 }

  .link-singin{
   padding-right: 10px;
 } 

 /* Section-Medio */
 #medio .container-fluid,h1{
   text-align: left;     
   margin-top: 50px;
   padding: 0;
   color: black;
  } 

 .col-titulo{
   font-family: "Cinzel Decorative",cursive;
   padding:0 ;
   margin-left: 55px;
  }

 .col-links-titulo{
   margin-bottom: 30px;
   padding: 0;
   padding-top: 20px;
   padding-bottom: 10px;
   padding-left: 57px;
   float: left;
  }

    .segundos-links{
     padding-right: 20px;
    }
    
    /* Intermedio */
    #intermedio{
     color: gray;
     
   }

    .h1-intermedio{
     margin-top: 50px;
     font-size: 2.5rem;
     text-align: justify;
     padding: 0 20px;
    }

    .take-around{
     padding-top: 50px;
     padding-left: 30px;
     padding-bottom: 20px;
     text-align: left;
    }

    .col-restaurant{
     margin-top: 50px;
    }

    .col-img-restaurant{
     width: 800px;
    }

    .img-grounds{
     text-align: justify;
    }

    .col-img-room{
     margin-top: 30px;
    }

    .row-stay{
     margin-top: 20px;
    }

     #footer {
     margin-top: 50px;
     text-align: center;
     color: blue;
     font-size: 20px;
     padding-bottom: 50px;
     
    } 

    @media(max-width:1028px){
      body{
       text-align: left;
       font-size: 2rem;
      }

      a{
       font-size: 1.5rem;
      }

      .nav-link{
       font-size: 1.5rem;
      }

      p{
       padding-bottom: 20px;
       padding-top: 20px;
      }
      .col-titulo{
       font-family: "Cinzel Decorative",cursive;
       padding:0 ;
       margin-left: 45px;
       font-size: 3.5rem;
      }

      .col-links-titulo{
       margin-bottom: 30px;
       padding: 0;
       padding-top: 20px;
       padding-bottom: 10px;
       padding-left: 50px;
       float: left;
      }

      #medio .container-fluid,h1{
       text-align: left;     
       margin-top: 10px;
       padding: 0;
      }

      /* Intermedio */
      #intermedio{
       text-align: center;
       margin-bottom: 40px;
      }

      .h1-intermedio{
       font-size: 2rem;
      }

      .take-around{
       padding-top: 50px;
       padding-left: 30px;
      }
     
      .img-grounds{
       float:left;
      }
    }

 
